<br><br>

<div class="ui vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui header">
        Keep stuffs out of landfills!
      </h1>
      <h2> Give it away or claim it, no money involved just good karma.</h2>
      <a href="/itemlist"><div class="ui big primary button" >Browse<i class="right arrow icon"></i></div></a>
    </div>

  </div>