<html>
<head>
<title>Freebay!
</title>
</head>
<body>

<h1> Welcome to FreeBay! </h1>
<a href="/register">Register</a> or <a href="/login">Login</a> to use the site.

<h2>Browse the items</h2>

</body>
</html>