<br><br>

<div class="ui card">
	<div class="content">
		<div class="header">{{user.itemname}}</div>
		<div class="description">
			<img src="{{user.imglink}}" class="ui wireframe image">
		</div>
		<div class="meta">
			<span class="category">{{user.description}}</span>
		</div>
	</div>
	<div class="extra content">
		<div class="right floated author">
			<span>Means of collection: </span> {{user.shipping}}
		</div>
	</div>
</div>