<br><br>
  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <img src="images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" action="/login" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large submit button" type="submit">Login</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/register">Sign Up</a>
    </div>
  </div>
</div>

<!--	<form action="/login" method="POST">
			<div class="ui labeled input">
      			<a class="ui label">Username : </a>
      			<input type="text" placeholder="Email address" name="email">
    		</div><br>
    		<div class="ui labeled input">
    			<a class="ui label">Password : </a>
      			<input type="password" name="password">
    		</div>	
      <button class="ui button" type="reset">Reset</button>
  	  <button class="ui button" type="submit">Submit</button>
  	</form>
-->
	