<br><br><br>
<div class="ui main text container">
<form class="ui form" action="/give" method="POST">
	<h2>Item to give away: </h2>
      <div class="field">
        <label>Item name : </label>
        <input type="text" name="itemname" placeholder="Item Name">
      </div>
      <div class="field">
    	<label>Description : </label>
    	<textarea  name="description" rows="8"></textarea>
  	  </div>
      <div class="field">
        <label>Image URL :</label>
        <input type="text" name="imglink" placeholder="http://www.">
      </div>

      <div class="field">
          <label>Condition :</label>
        <select class="ui selection dropdown" name="condition">
          <option value="working">Working</option>
          <option value="needfix">Needs Fixing</option>
        <option value="partsmissing">Parts Missing</option>
        </select>
      </div>

      <div class="field">
        	<label>Shipping :</label>
  			<select class="ui selection dropdown" name="shipping">
			  	<option value="courier">Courier service</option>
			  	<option value="pickup">Self Pick-up</option>
				<option value="flexible">Flexible</option>
  			</select>
      </div>

 	<button class="ui button" type="reset" value="Reset">Reset</button>
    <button class="ui button" type="submit">Submit</button>
</form>
</div>