<br><br>
<div class="ui main text container">
<h2>Top FreeBay users:</h2>

{{#each rank}}
<div class="ui fluid card"><p>
<img src="http://2.bp.blogspot.com/-F8q2V2-kdEo/UVwhXeMgHdI/AAAAAAAAF80/NR3ffJlWrhU/s1600/avatar-constituent-default+%281%29.gif" height="80" width="80" align="middle">
{{this.firstname}} {{this.lastname}} , Karma Score: {{this.karma}} , User since: {{this.usr_date}}</p><br>
</div>
{{/each}}
