<br><br>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

<div class="ui middle aligned center aligned grid">
  <div class="column">

  	{{#if message}}<h3>{{message}}</h3>{{/if}}

    <h2 class="ui image header">
      <img src="images/logo.gif" class="image">
      <div class="content">
        Sign up!
      </div>
    </h2>
    <form class="ui large form" action="/register" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="firstname" placeholder="First Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="lastname" placeholder="Last Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large submit button" type="submit">Register</button>
      </div>
    </form>

  </div>
</div>