<html>
<head>
<title>Freebay!
</title>
</head>
<body>
<a href="/register">Register</a> <a href="/login">Login</a>
<br>
<form action="/register" method="POST">
  Username : <input type="text" name="username"><br>
  Password : <input type="password" name="password"><br>
  Email : <input type="text" name="email">

  <input type="submit" value="Submit">
</form>

</body>
</html>